* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Pattern from https://www.transparenttextures.com/ */
body {
    background-color: #0e0d0d;
    color: blanchedalmond;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 30px;
    min-height: 70px;
}

header a:hover{
    font-weight: 700;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
    margin-top: 10px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 20px;
}

.signin-button{
    text-decoration: none;
    color: white;
    background: #05386b;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;

}
.porfolio {
    width: 80%;
    margin-left: 10%;
}

.portolio-item {
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}

.portolio-item img {
    width: 100%;
    padding: 50px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
.about-paragraph{
    font-size: 20px;
    text-indent: 50px;
    text-align: left;
    letter-spacing: 3px;
    width: 50%;
    margin-left: 350px;
}
.about-section{
    text-align: center;
    width: ;
}
.title-skills{
    margin-left: 530px;
}
.title-project{
    margin-left: 399px;
    margin-top: px;
    
}
.image{
    width: 5%;
    height: 200px;
}
h2{
    padding: 100px;
}
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }

    .signin-form{
        display: block;
    }

    
}
