* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Pattern from https://www.transparenttextures.com/ */
body {
    background-color: #0e0d0d;
    color: blanchedalmond;
}
.mainer-header{
    margin-top: -40px;
}
.header {
    width: 100%;
    float: left;
    padding-top: 0px;
    line-height: 200px;
}

.logo {
    width: 30%;
    float:left;
    text-align: center;
}
.logo span {
    font-size: 25px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.menu {
    width: 40%;
    float:left;
    font-size: 20px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    font-weight: bolder;
}


.active {
    font-weight: bolder;
}
.tres{
    width: 500px;
  height: 352p
}
.title-paragraph{
    font-family: poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 15px;
    margin-top: 15px;
    margin-left:150px
}
.hiring-paragraph{
    font-family: poppins;
    font-style: normal;
    font-weight: regular;
    font-size: 20px;
    line-height: 15px;
    margin-top: 70px;
    margin-left:150px ;
  }
hr{
    margin-top: 30px;
    width: 400px;
    height: 6px;
    border: none;
    margin-left: 150px;
    top: 1991px;
  }
.hiring-form{
    margin-left: 250px;
    margin-top: 100px;
  }
.green-button{
    margin-left: 150px;
    margin-top: 20px;
    width: 250px;
    height: 50px;
    background: #86FA4F;
    background: #86FA4F;
  }

.my-form{
      margin-top: 400px;
  }
.hiring-form{
      margin-left: 30px;
  }
  @media (min-width: 600px) {
    p {
        font-size: 1.2px;
    }

    }
@media (max-width: 800px) {
    p {
        font-size: 1.2px;
        line-height: 1.2px;
    }
}