* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Pattern from https://www.transparenttextures.com/ */
body {
    background-color: #0e0d0d;
    color: blanchedalmond;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 30px;
    min-height: 70px;
}

header a:hover{
    font-weight: 700;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
    margin-top: 10px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 20px;
}

.signin-button{
    text-decoration: none;
    color: white;
    background: #05386b;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;

}

.signin-button:hover{
    background: #ffffff;
    color: black;
}
.signin-form{
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    
}
input[type=text],input[type=password], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #05386b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: rgba(255, 255, 255, .5);
    color: black;
    font-weight: 700;
    border: black 1px solid;
  }

  .containers{
    color: white;
    margin-top: 15px;
    width: 80%;
    margin: 15px 0 0 41px
  }
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle{
    display: none;
}
 
  @media(max-width: 768px){
   
    header nav,
    header nav li{
        float: none;
        text-align: center;
        width: 100%;
        display: none;
    }
    #branding{
        text-align: center;
    }

    .signin-form{
        display: block;
    }
    h1{
        display: none;
    }
    label{
        display: block;
        cursor: pointer;
        text-align: right;
        margin-top: -30px;
        margin-right: -3px;
    }
    .label-container{
        width: 80%;
    }
    ul {
        text-align: center;
        width: 100%;
        margin: 0 30px 0 0;
    }

    ul a {
        display: block;
        border-bottom: 1px #05386b solid;
        margin: 0;
        clear: right;
        text-decoration: none;
        margin: 0 10px;
        line-height: 40px;
    }

    #toggle:checked + ul{
        display: block;
    }

    
}