* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Pattern from https://www.transparenttextures.com/ */
html{
    height: 100%;
}
body {
    background-color: #0e0d0d;
    color: blanchedalmond;
}
/* Change */
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    height: 100vh;
}
header{
    margin-bottom: 100px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 30px;
    min-height: 70px;
}

header a:hover{
    font-weight: 700;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
    margin-top: 10px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 20px;
}

.signin-button{
    text-decoration: none;
    color: white;
    background: #05386b;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;

}

.signin-button:hover{
    background: #ffffff;
    color: black;
}
.bio-container{
    
    
    height: 90%;
    background-image: url("../photos/mee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 230px;
    
   
    
   
}

.develop{
    color:coral;
    font-weight: bold;
    height: 10px;
    border-bottom: 1px black solid;
   
}
.bio {
    
   
    margin-left: 15px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    

    
}
.bio span{
    font-weight: bold;
   
}
.social-media{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}
.social-media span {
    margin-left: 5px;
}
hr.line {
    height: 6px;
    border: none;
    background: #fa4d4d;
    text-align: start;
    margin-left: 0px;
    
    
}



hr{
    text-align: center; 
    margin-left: 350px; 
    margin-top: 30px;
}
.signin a {
    text-decoration: none;
    color: white;
    background: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.signin a:hover {
    color: black;
    background: white;
    border: 1px solid black;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}
#toggle{
    display: none;
    
}
@media(max-width: 768px){
    
    header nav,
    header nav li{
        float: none;
        text-align: center;
        width: 100%;
        display: none;
        
    }
    #branding{
        text-align: center;
    }
    .navigation{
        background: rgba(0, 0, 0, 0.5);
 
    }
    h1{
        display: none;
    }
    label{
        display: block;
        cursor: pointer;
        text-align: right;
        margin-top: -30px;
        margin-right: -3px;

    }
    ul{
        text-align: center;
        width: 100%;
        margin: 0 30px 0 0;
        
    }
    ul a{
        
        border-bottom: 1px #05386b solid;
        margin: 0;
        clear: right;
        text-decoration: none;
        margin: 0 10px;
        line-height: 60px;
    }
    #toggle: checked + ul {
        display: block;
    }  
    .bio-container{
        float: none;
        text-align: center;
        width: 100%;  
    }
    .menu-item{
        display: block;
    }
    
}

